node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
*.md
uploads/*
!uploads/.gitkeep
!uploads/blogs/
uploads/blogs/*
!uploads/blogs/.gitkeep
!uploads/resumes/
uploads/resumes/*
!uploads/resumes/.gitkeep
.cursor
agent-transcripts
